/*
*************************************************************************************************
 * Main Style Sheet - main.css
 * Version:   1.0 
 * Date:      03/06/2016
 * Author:    Duc Trinh - Daniel
 * Email:     danieltrinh29@gmail.com
 * Website:   https://github.com/daniel8x/Animation-Circle-Menu
 *
 * Color Reference: http://flatuicolor.com 
 *				  #e67e22: Carrot
 *				  #3498db: Light blue
 *				  #9b59b6: Amethyst
 *				  #2ecc71: Green
 *  			  #2c3e50: Midnight Blue
 *
**************************************************************************************************
*/

/*----- Container -----*/
/*---------------------*/

.container{
	position : absolute;    
    width    : 500px;
    height   : 500px;
    left     : 50%;
    top      : 50%;
    margin-left : -250px; /* 1/2 width */
    margin-top  : -250px; /* 1/2 height */
}


/*--- center-button ---*/
/*---------------------*/
.center-button {
	position : absolute; 
	background-color: #3498db;
    width    : 100px;
    height   : 100px;
    left     : 50%;
    top      : 50%;
    margin-left : -50px; /* 1/2 width */
    margin-top  : -50px; /* 1/2 height */
    border-radius: 50px;  
    border   : 0;  
    z-index  : 1; 
	opacity  : 0.5;
}

.center-button:hover {
	cursor: pointer;
   -webkit-transition: 0.5s; /* Safari */
   -moz-transition: 0.5s;    /* Firefox */
   -ms-transition: 0.5s;     /* IE 9 */
   -o-transition: 0.5s;      /* Opera */
   transition: 0.5s;
   opacity   : 1;
}

.center-button:focus {
	outline: none;      /* Remove the outline when button is clicked */
}

/*--- Surround-button ---*/
/*-----------------------*/

.surround-button {  
	position : absolute;
	opacity  : 0;
	left     : 50%;
    top      : 50%;
    margin-left : -250px; 
    margin-top  : -250px;
	-webkit-transform: scale(0); /* Safari */
	-moz-transform: scale(0); /* Firefox */
	-ms-transform: scale(0); /* IE 9 */
	transform: scale(0); 
	width: 500px;
	height: 500px;
	 -webkit-transition: 1s; /* Safari */
	 -moz-transition: 1s; /* Firefox */
	 -ms-transition: 1s; /* IE 9 */
	 -o-transition: 1s;      /* Opera */
    transition: 1s;
}

.surround-button ul li {
	position: absolute;
	color: white;
	border-radius: 50%;
	height: 100px;
	width: 100px; 
	
 }
  
.surround-button ul li a {
	position: absolute;
	display:  block; 
	width: 100px; 
	height: 100px;
	text-align: center;
	padding-top: 35px;	
	
 }
 
.surround-button.active {
    opacity: 1;
   -webkit-transform: scale(1); /* Safari */
   -moz-transform: scale(1);    /* Firefox */
   -ms-transform: scale(1);     /* IE 9 */
    transform: scale(1);
   -webkit-transition: 1s; /* Safari */
   -moz-transition: 1s;    /* Firefox */
   -ms-transition: 1s;     /* IE 9 */
   -o-transition: 1s;      /* Opera */
   transition: 1s;

}

.surround-button.inactive{
  opacity: 1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0); /* IE 9 */
  transform: scale(0);
  -webkit-transition: 1s; /* Safari */
  -moz-transition: 1s; /* Firefox */
  -ms-transition: 1s; /* IE 9 */
   transition: 1s;
}


.surround-button .button-0 { background-color: #e74c3c;}

.surround-button .button-1 { background-color: #9b59b6;}

.surround-button .button-2 { background-color: #2ecc71;}

.surround-button .button-3 { background-color: #2c3e50;}

.surround-button .button-4 { background-color: brown;}
